.parent{
    width: 200px;
    border: 1px solid gainsboro;
    margin-left: 400px;
    padding: 10px 20px;
    margin-top: 50px;
    background-color: rgba(0, 21, 255, 0.626);
    border-radius: 10%; 
}
.taskdescrip{
    margin-top: 5px;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    text-transform: capitalize;
}
.taskname{
    border-radius: 10px;
    font-family: 'Lobster', cursive;
}
.head{
    font-family: 'Yeon Sung', cursive;
}
.listbtn{
    border-radius: 5px;
    margin-left: 150px;
    font-size: 15px;
    padding: 0px 10px;
    font-family: 'East Sea Dokdo', cursive;
}
.listbtn:hover{
    color: cadetblue;
}
.submitbtn:hover{
    color: darkolivegreen;
}
.submitbtn{
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'East Sea Dokdo', cursive;
}