.parent{
    width: 200px;
    border: 1px solid gainsboro;
    margin-left: 400px;
    padding: 10px 20px;
    margin-top: 50px;
    background-color: rgba(176, 217, 240, 0.998);
    border-radius: 10%; 
}
.taskdescrip{
    margin-top: 5px;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    text-transform: capitalize;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.taskname{
    border-radius: 10px;
    font-family: 'Lobster', cursive;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.head{
    font-family: 'Yeon Sung', cursive;
    color: rgba(245, 245, 247, 0.962);
    text-shadow: 2px 2px rgb(187, 184, 184);
}
.listbtn{
    border-radius: 5px;
    margin-left: 150px;
    font-size: 15px;
    padding: 0px 10px;
    font-family: 'East Sea Dokdo', cursive;
}
.listbtn:hover{
    color: cadetblue;
}
.listlink{
    text-decoration: none;
}
.addbtn:hover{
    color: darkolivegreen;
}
.addbtn{
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'East Sea Dokdo', cursive;
}